// Regular Fonts

$thin-font: 'ralewaythin';
$raleway: 'ralewayregular';
$light-font: 'ralewaylight';

// Colors Palete

$flat-color: #384F52;


// Generics colors

$white: #fff;
$black: #000;
$gray-medium: #333;
